body{
  min-width: 1122px;
  margin: 0px;
  padding: 0px;
}
/* Стилизация №2 текстовые стили*/
body{
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}
h1{
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}
h2{
  font-size: 24px;
  line-height: 24px;
}

.container{
  width: 940px;
  margin: 0 auto;
  padding:0 10px;
  outline: red solid 1px;
}

.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

/*Разметка сетки хедера*/
.main-header{
  margin-bottom: 60px;
  outline: green solid 1px;
}
.header-logo{
  float:left;
  width:140px;
  margin-right: 20px;
  outline: yellow solid 1px;
}
.main-navigation{
  float:left;
  width: 540px;
  margin-right: 20px;
  outline: yellow solid 1px;
}
.user-block{
  float: right;
  width: 100px;
  outline: yellow solid 1px;
}
/*Конец разметки хедера*/
/*Разметка основного блока магазина*/
.breadcrumbs{
  outline: yellow solid 1px;
}
.sidemenu{
  float: left;
  width: 220px;
  outline: yellow solid 1px;
}
.items{
  float:right;
  width: 700px;
  outline: yellow solid 1px;
  font-size: 0px;
}
.item{
  display:inline-block;
  width:190px;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 15px;
  vertical-align: top;
  outline: green solid 1px;
  font-size: 14px;
}
.item:nth-child(3n){
  margin-right: 0px;
}
.page-selector{
  font-size: 14px;
  outline: green solid 1px;
}
/*Конец разметки основного блока магазина*/
/*Разметка футера*/
.main-footer{
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 40px;
    outline: green solid 1px;
}
.footer-contacts{
  float:left;
  width: 320px;
  margin-right: 60px;
  outline:yellow solid 1px;
}
.footer-social{
  float:left;
  width: 180px;
  outline: yellow solid 1px;
}
.footer-copyright{
  float:right;
  width: 180px;
  outline: yellow solid 1px;
}
/*Конец разметки футера*/
/*Разметка содержимого главной страницы из презентации*/
.index-logo{
  height: 204px;
  width: 368px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  outline:yellow solid 1px;
}
.features{
  outline:green solid 1px;
}
.features-item{
  float: left;
  width: 300px;
  margin-right: 20px;
  outline:yellow solid 1px;
}
.features-item:last-child {
  margin-right: 0;
}
.index-content{
  padding: 50px 80px;
  margin-bottom: 35px;
  outline:green solid 1px;
}
.index-content-left{
  float:left;
  width: 380px;
  outline:yellow solid 1px;
}
.index-content-right{
  float: right;
  width: 300px;
  outline:yellow solid 1px;
}
/*Конец разметки содержимого главной страницы*/
/*Разметка сетки страницы товара*/
.item-gallery{
  float: left;
  width: 460px;
  outline:yellow solid 1px;
}
.item-photos{
  outline:green solid 1px;
}
.item-photos img{
  width:140px;
  margin-right: 10px;
}
.item-info{
  float:right;
  width: 390px;
  outline:yellow solid 1px;
}
/*Конец разметки сетки страницы товара*/
